<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-10 navbar-text">&copy; Copyright 2021. Aiju Kinoshita. Centennial Collge COMP229-010, Fall 2021. All rights reserve.</h6>
    </nav>
  </footer>